@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin-top: 90px;
    overflow-x: hidden;
}

h1 {
    @apply text-4xl leading-tight break-words sm:text-5xl lg:text-6xl;
}

h2 {
    @apply text-3xl leading-tight break-words sm:text-4xl lg:text-5xl;
}

h3 {
    @apply text-2xl leading-tight break-words sm:text-3xl lg:text-4xl;
}

.container {
    @apply px-4 sm:px-6 lg:px-8;
}

.navbar {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: ease-in-out 0.3s;
}

.navbar.scrolled {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.navlink:before {
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 50%;
    content: "";
    width: 0.45em;
    height: 0.45em;
    background-color: var(--color-primary);
    opacity: 0;
    transition: ease-in-out 0.2s;
}

.navlink:hover:before,
.navlink.active:before {
    opacity: 100;
}

a, button {
    transition: ease-in-out 0.2s;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 1023px) {
    body {
        margin-top: 155px;
    }
}
