@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #fbb041;
    --color-secondary: #fff3e0;
    --color-black: #212121;
    --color-light-gray: #f7f7f7;
    --color-gray: #989898;
    --color-dark-gray: #4e4d4b;

    --color-meals: #F7D5C0;
    --color-drinks: #B395C2;
    --color-feasts: #AE7A91;
    --color-sweets: #F5DFAC;
    --color-pet-foods: #D6EE7B;
    --color-finger-foods: #D7BABA;

    --shadow-primary: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}